# Customer Feedback Review - Clothing Business

In [112]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings 
warnings.filterwarnings("ignore")

In [113]:
df = pd.read_csv(r"C:\Users\muent\Desktop\my project for data analyst\Project-6\Dataset\Customer Feedback Reviews Dataset.csv")
df

,s.no,age,division_name,department_name,class_name,clothing_id,title,review_text,alike_feedback_count,rating,recommend_index
0,0,40,General,Bottoms,Jeans,1028,Amazing fit and wash,Like other reviewers i was hesitant to spend t...,0,5,1
1,1,62,General Petite,Tops,Blouses,850,Lovely and unique!,As is true of a bunch of the fall clothing pho...,12,5,1
2,2,47,General Petite,Bottoms,Skirts,993,Meh,"I so wanted this skirt to work, love the desig...",3,1,0
3,3,45,General Petite,Bottoms,Pants,1068,Wow,Love love this! i was hesitant to buy this at ...,0,5,1
4,4,37,Initmates,Intimate,Swim,24,Great for bigger busts,I absolutely love the retro look of this swims...,0,5,1
...,...,...,...,...,...,...,...,...,...,...,...
23481,23481,44,General Petite,Dresses,Dresses,1081,Love it!,I oot this dress in the blue. it fits great--h...,0,5,1
23482,23482,39,General,Dresses,Dresses,1110,Great piece,I was very patient with this dress. i was wait...,1,5,1
23483,23483,29,General Petite,Tops,Knits,862,So soft and flattering,"The deep v doesn't gape, and flatters the neck...",0,5,1
23484,23484,57,General,Dresses,Dresses,1082,Another winner from isabella sinclair,"I saw this dress online this morning, went int...",10,5,1
23485,23485,56,General,Jackets,Jackets,984,NaN,Super cute jacket .perfect for fall i can't st...,0,5,1

In [114]:
display(df.head())
df.info()

,s.no,age,division_name,department_name,class_name,clothing_id,title,review_text,alike_feedback_count,rating,recommend_index
0,0,40,General,Bottoms,Jeans,1028,Amazing fit and wash,Like other reviewers i was hesitant to spend t...,0,5,1
1,1,62,General Petite,Tops,Blouses,850,Lovely and unique!,As is true of a bunch of the fall clothing pho...,12,5,1
2,2,47,General Petite,Bottoms,Skirts,993,Meh,"I so wanted this skirt to work, love the desig...",3,1,0
3,3,45,General Petite,Bottoms,Pants,1068,Wow,Love love this! i was hesitant to buy this at ...,0,5,1
4,4,37,Initmates,Intimate,Swim,24,Great for bigger busts,I absolutely love the retro look of this swims...,0,5,1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   s.no                  23486 non-null  int64
 1   age                   23486 non-null  int64
 2   division_name         23472 non-null  object
 3   department_name       23472 non-null  object
 4   class_name            23472 non-null  object
 5   clothing_id           23486 non-null  int64
 6   title                 19676 non-null  object
 7   review_text           22641 non-null  object
 8   alike_feedback_count  23486 non-null  int64
 9   rating                23486 non-null  int64
 10  recommend_index       23486 non-null  int64
dtypes: int64(6), object(5)
memory usage: 2.0+ MB

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   s.no                  23486 non-null  int64
 1   age                   23486 non-null  int64
 2   division_name         23472 non-null  object
 3   department_name       23472 non-null  object
 4   class_name            23472 non-null  object
 5   clothing_id           23486 non-null  int64
 6   title                 19676 non-null  object
 7   review_text           22641 non-null  object
 8   alike_feedback_count  23486 non-null  int64
 9   rating                23486 non-null  int64
 10  recommend_index       23486 non-null  int64
dtypes: int64(6), object(5)
memory usage: 2.0+ MB

In [116]:
df.columns

Index(['s.no', 'age', 'division_name', 'department_name', 'class_name',
       'clothing_id', 'title', 'review_text', 'alike_feedback_count', 'rating',
       'recommend_index '],
      dtype='object')

In [117]:
df.isnull().sum()

s.no                       0
age                        0
division_name             14
department_name           14
class_name                14
clothing_id                0
title                   3810
review_text              845
alike_feedback_count       0
rating                     0
recommend_index            0
dtype: int64

In [118]:
columns = [ 'division_name', 'department_name', 'class_name']
for c in columns:
    print( f" Unique value of {c} : \n{df[c].unique()}\n")

 Unique value of division_name :
['General' 'General Petite' 'Initmates' nan]

 Unique value of department_name :
['Bottoms' 'Tops' 'Intimate' 'Jackets' 'Dresses' 'Trend' nan]

 Unique value of class_name :
['Jeans' 'Blouses' 'Skirts' 'Pants' 'Swim' 'Sweaters' 'Knits' 'Fine gauge'
 'Jackets' 'Dresses' 'Shorts' 'Lounge' 'Outerwear' 'Intimates' 'Legwear'
 'Sleep' 'Trend' 'Layering' nan 'Casual bottoms' 'Chemises']

In [119]:
dc = df[['department_name', 'class_name']]
pd.DataFrame(dc.groupby(['department_name'])['class_name'].unique())

                                                        class_name
department_name
Bottoms             [Jeans, Skirts, Pants, Shorts, Casual bottoms]
Dresses                                                  [Dresses]
Intimate         [Swim, Lounge, Intimates, Legwear, Sleep, Laye...
Jackets                                       [Jackets, Outerwear]
Tops                        [Blouses, Sweaters, Knits, Fine gauge]
Trend                                                      [Trend]

In [120]:
dc

      department_name class_name
0             Bottoms      Jeans
1                Tops    Blouses
2             Bottoms     Skirts
3             Bottoms      Pants
4            Intimate       Swim
...               ...        ...
23481         Dresses    Dresses
23482         Dresses    Dresses
23483            Tops      Knits
23484         Dresses    Dresses
23485         Jackets    Jackets

[23486 rows x 2 columns]

In [121]:
dc = df["department_name"].unique()
for v in dc:
    print(f"{v} : {df[df['department_name'] == v ]['class_name'].unique()} \n ")

Bottoms : ['Jeans' 'Skirts' 'Pants' 'Shorts' 'Casual bottoms']

Tops : ['Blouses' 'Sweaters' 'Knits' 'Fine gauge']

Intimate : ['Swim' 'Lounge' 'Intimates' 'Legwear' 'Sleep' 'Layering' 'Chemises']

Jackets : ['Jackets' 'Outerwear']

Dresses : ['Dresses']

Trend : ['Trend']

nan : []

In [122]:
df = df.dropna(subset=['department_name', 'review_text', 'rating'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22628 entries, 0 to 23485
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   s.no                  22628 non-null  int64
 1   age                   22628 non-null  int64
 2   division_name         22628 non-null  object
 3   department_name       22628 non-null  object
 4   class_name            22628 non-null  object
 5   clothing_id           22628 non-null  int64
 6   title                 19662 non-null  object
 7   review_text           22628 non-null  object
 8   alike_feedback_count  22628 non-null  int64
 9   rating                22628 non-null  int64
 10  recommend_index       22628 non-null  int64
dtypes: int64(6), object(5)
memory usage: 2.1+ MB

In [123]:
df.head(3)

,s.no,age,division_name,department_name,class_name,clothing_id,title,review_text,alike_feedback_count,rating,recommend_index
0,0,40,General,Bottoms,Jeans,1028,Amazing fit and wash,Like other reviewers i was hesitant to spend t...,0,5,1
1,1,62,General Petite,Tops,Blouses,850,Lovely and unique!,As is true of a bunch of the fall clothing pho...,12,5,1
2,2,47,General Petite,Bottoms,Skirts,993,Meh,"I so wanted this skirt to work, love the desig...",3,1,0

In [124]:
df = df.rename( columns= {'s.no' : 'no'})
df

,no,age,division_name,department_name,class_name,clothing_id,title,review_text,alike_feedback_count,rating,recommend_index
0,0,40,General,Bottoms,Jeans,1028,Amazing fit and wash,Like other reviewers i was hesitant to spend t...,0,5,1
1,1,62,General Petite,Tops,Blouses,850,Lovely and unique!,As is true of a bunch of the fall clothing pho...,12,5,1
2,2,47,General Petite,Bottoms,Skirts,993,Meh,"I so wanted this skirt to work, love the desig...",3,1,0
3,3,45,General Petite,Bottoms,Pants,1068,Wow,Love love this! i was hesitant to buy this at ...,0,5,1
4,4,37,Initmates,Intimate,Swim,24,Great for bigger busts,I absolutely love the retro look of this swims...,0,5,1
...,...,...,...,...,...,...,...,...,...,...,...
23481,23481,44,General Petite,Dresses,Dresses,1081,Love it!,I oot this dress in the blue. it fits great--h...,0,5,1
23482,23482,39,General,Dresses,Dresses,1110,Great piece,I was very patient with this dress. i was wait...,1,5,1
23483,23483,29,General Petite,Tops,Knits,862,So soft and flattering,"The deep v doesn't gape, and flatters the neck...",0,5,1
23484,23484,57,General,Dresses,Dresses,1082,Another winner from isabella sinclair,"I saw this dress online this morning, went int...",10,5,1
23485,23485,56,General,Jackets,Jackets,984,NaN,Super cute jacket .perfect for fall i can't st...,0,5,1

In [125]:
#กำหนด rating label
df['rating_label'] = df['rating'].apply(lambda x : "Good" if x >=4 else "Bad")
df

,no,age,division_name,department_name,class_name,clothing_id,title,review_text,alike_feedback_count,rating,recommend_index,rating_label
0,0,40,General,Bottoms,Jeans,1028,Amazing fit and wash,Like other reviewers i was hesitant to spend t...,0,5,1,Good
1,1,62,General Petite,Tops,Blouses,850,Lovely and unique!,As is true of a bunch of the fall clothing pho...,12,5,1,Good
2,2,47,General Petite,Bottoms,Skirts,993,Meh,"I so wanted this skirt to work, love the desig...",3,1,0,Bad
3,3,45,General Petite,Bottoms,Pants,1068,Wow,Love love this! i was hesitant to buy this at ...,0,5,1,Good
4,4,37,Initmates,Intimate,Swim,24,Great for bigger busts,I absolutely love the retro look of this swims...,0,5,1,Good
...,...,...,...,...,...,...,...,...,...,...,...,...
23481,23481,44,General Petite,Dresses,Dresses,1081,Love it!,I oot this dress in the blue. it fits great--h...,0,5,1,Good
23482,23482,39,General,Dresses,Dresses,1110,Great piece,I was very patient with this dress. i was wait...,1,5,1,Good
23483,23483,29,General Petite,Tops,Knits,862,So soft and flattering,"The deep v doesn't gape, and flatters the neck...",0,5,1,Good
23484,23484,57,General,Dresses,Dresses,1082,Another winner from isabella sinclair,"I saw this dress online this morning, went int...",10,5,1,Good
23485,23485,56,General,Jackets,Jackets,984,NaN,Super cute jacket .perfect for fall i can't st...,0,5,1,Good

In [126]:

df['age'].describe()

# age น้อยสุด 18 ปี
# age มากสุด 99 ปี

count    22628.000000
mean        43.282880
std         12.328176
min         18.000000
25%         34.000000
50%         41.000000
75%         52.000000
max         99.000000
Name: age, dtype: float64

In [127]:
#กำหนด age_range
# 18-24  -->> 18 to 24
# 25-34  -->> 25 to 34
# 35-44  -->> 34 to 44
# 45-54  -->> 45 to 54
# 55-64  -->> 55 to 64
# 65-74  -->> 65 to 74
# 75-84  -->> 75 to 84
# 85-99  -->> 85 to 99
# >= 99 -->> over 99

In [128]:
def age_range(i):
    lower = [18, 25, 35, 45, 55, 65, 75, 85]
    upper = [24, 34, 44, 54, 64, 74, 84, 99]
    for l, u in zip(lower, upper):
        if l <= i and i <= u:
            if u != 999:
                return f"{l} to {u}"
            else:
                return f"over {l}"


df['age_range_label'] = df['age'].apply(lambda x : age_range(x))
            
#เก็บค่าใส่ column ชื่อ ["age_range_label"]

In [129]:
df["age_range_label"].value_counts()

35 to 44    7428
25 to 34    4959
45 to 54    4940
55 to 64    3078
65 to 74    1166
18 to 24     866
75 to 84     160
85 to 99      31
Name: age_range_label, dtype: int64

In [130]:
df

,no,age,division_name,department_name,class_name,clothing_id,title,review_text,alike_feedback_count,rating,recommend_index,rating_label,age_range_label
0,0,40,General,Bottoms,Jeans,1028,Amazing fit and wash,Like other reviewers i was hesitant to spend t...,0,5,1,Good,35 to 44
1,1,62,General Petite,Tops,Blouses,850,Lovely and unique!,As is true of a bunch of the fall clothing pho...,12,5,1,Good,55 to 64
2,2,47,General Petite,Bottoms,Skirts,993,Meh,"I so wanted this skirt to work, love the desig...",3,1,0,Bad,45 to 54
3,3,45,General Petite,Bottoms,Pants,1068,Wow,Love love this! i was hesitant to buy this at ...,0,5,1,Good,45 to 54
4,4,37,Initmates,Intimate,Swim,24,Great for bigger busts,I absolutely love the retro look of this swims...,0,5,1,Good,35 to 44
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23481,23481,44,General Petite,Dresses,Dresses,1081,Love it!,I oot this dress in the blue. it fits great--h...,0,5,1,Good,35 to 44
23482,23482,39,General,Dresses,Dresses,1110,Great piece,I was very patient with this dress. i was wait...,1,5,1,Good,35 to 44
23483,23483,29,General Petite,Tops,Knits,862,So soft and flattering,"The deep v doesn't gape, and flatters the neck...",0,5,1,Good,25 to 34
23484,23484,57,General,Dresses,Dresses,1082,Another winner from isabella sinclair,"I saw this dress online this morning, went int...",10,5,1,Good,55 to 64
23485,23485,56,General,Jackets,Jackets,984,NaN,Super cute jacket .perfect for fall i can't st...,0,5,1,Good,55 to 64

In [131]:
df.head(3)

,no,age,division_name,department_name,class_name,clothing_id,title,review_text,alike_feedback_count,rating,recommend_index,rating_label,age_range_label
0,0,40,General,Bottoms,Jeans,1028,Amazing fit and wash,Like other reviewers i was hesitant to spend t...,0,5,1,Good,35 to 44
1,1,62,General Petite,Tops,Blouses,850,Lovely and unique!,As is true of a bunch of the fall clothing pho...,12,5,1,Good,55 to 64
2,2,47,General Petite,Bottoms,Skirts,993,Meh,"I so wanted this skirt to work, love the desig...",3,1,0,Bad,45 to 54

In [132]:
import spacy

In [133]:
import spacy

# โหลดโมเดลภาษาอังกฤษ
nlp = spacy.load("en_core_web_sm")

# สมมุติว่า df เป็น Pandas DataFrame ที่มีคอลัมน์ 'review_text'
# สร้างคอลัมน์ใหม่ชื่อ 'adj_column' ในดาต้าเฟรม
df['adj_word'] = ''

for i, row in df.iterrows():
    test_str = row['review_text']
    
    # ประมวลผลข้อความด้วย SpaCy
    doc = nlp(test_str)
    
    # สร้างลิสต์เก็บคำคุณศัพท์
    adj= [token.text for token in doc if token.pos_ == "ADJ"]
    
    # เก็บลิสต์ของคำคุณศัพท์ลงในคอลัมน์ 'adj_column' ของดาต้าเฟรม
    df.at[i, 'adj_word'] = ', '.join(adj)

In [134]:
df.head()

,no,age,division_name,department_name,class_name,clothing_id,title,review_text,alike_feedback_count,rating,recommend_index,rating_label,age_range_label,adj_word
0,0,40,General,Bottoms,Jeans,1028,Amazing fit and wash,Like other reviewers i was hesitant to spend t...,0,5,1,Good,35 to 44,"other, hesitant, much, good, full, fresh"
1,1,62,General Petite,Tops,Blouses,850,Lovely and unique!,As is true of a bunch of the fall clothing pho...,12,5,1,Good,55 to 64,"true, bright, vivid, unique, bib, soft, nice, ..."
2,2,47,General Petite,Bottoms,Skirts,993,Meh,"I so wanted this skirt to work, love the desig...",3,1,0,Bad,45 to 54,small
3,3,45,General Petite,Bottoms,Pants,1068,Wow,Love love this! i was hesitant to buy this at ...,0,5,1,Good,45 to 54,"hesitant, big, sure, perfect, typical, good, f..."
4,4,37,Initmates,Intimate,Swim,24,Great for bigger busts,I absolutely love the retro look of this swims...,0,5,1,Good,35 to 44,"blonde, first, most, frumpy, odd, smaller, larger"

In [135]:
df.tail()

,no,age,division_name,department_name,class_name,clothing_id,title,review_text,alike_feedback_count,rating,recommend_index,rating_label,age_range_label,adj_word
23481,23481,44,General Petite,Dresses,Dresses,1081,Love it!,I oot this dress in the blue. it fits great--h...,0,5,1,Good,35 to 44,"great, short, long, short, beautiful, easy"
23482,23482,39,General,Dresses,Dresses,1110,Great piece,I was very patient with this dress. i was wait...,1,5,1,Good,35 to 44,"patient, usual, tight, perfect, much, friendly..."
23483,23483,29,General Petite,Tops,Knits,862,So soft and flattering,"The deep v doesn't gape, and flatters the neck...",0,5,1,Good,25 to 34,"deep, high, lovely, soft, comfy, right, perfect"
23484,23484,57,General,Dresses,Dresses,1082,Another winner from isabella sinclair,"I saw this dress online this morning, went int...",10,5,1,Good,55 to 64,"modest, feminine, practical, thicker, beautifu..."
23485,23485,56,General,Jackets,Jackets,984,NaN,Super cute jacket .perfect for fall i can't st...,0,5,1,Good,55 to 64,"Super, cute"

# เพื่อแสดงให้เห็นว่าคำส่วนใหญ่ใน คอลัมน์ ["adj_word"] มีคำว่าอะไรบ้าง 
# เราสามารถนับความถี่ของคำที่ปรากฏและแสดงคำที่มีความถี่สูงสุดได้ดังนี้:

In [82]:
# df["customer_review_text"].value_counts()

In [136]:
# นำเข้า counter จาก collections 
from collections import Counter

# รวบรวมคำทั้งหมดจากคอลัมน์ 'adj_word'
all_words= []
for words in df['adj_word']:
    all_words.extend(words.split(', '))

# นับความถี่ของคำ
word_counts = Counter(all_words)

# แสดงคำที่มีความถี่สูงสุด
most_common = word_counts.most_common(20)

print(" รีวิวลูกค้าส่วนใหญ่ 20 อันดับแรก คือ : ")
for word, count in most_common:
    print(f"{word}: {count}")

 รีวิวลูกค้าส่วนใหญ่ 20 อันดับแรก คือ :
great: 5729
small: 4514
perfect: 3657
little: 3632
soft: 3284
comfortable: 3019
nice: 2931
cute: 2809
flattering: 2793
large: 2792
beautiful: 2720
petite: 2045
other: 1992
good: 1908
big: 1837
short: 1811
more: 1716
true: 1673
long: 1592
black: 1401

# ลูกค้ารีวิว Bad ว่าอะไรบ้าง

In [137]:
df.head(2)

,no,age,division_name,department_name,class_name,clothing_id,title,review_text,alike_feedback_count,rating,recommend_index,rating_label,age_range_label,adj_word
0,0,40,General,Bottoms,Jeans,1028,Amazing fit and wash,Like other reviewers i was hesitant to spend t...,0,5,1,Good,35 to 44,"other, hesitant, much, good, full, fresh"
1,1,62,General Petite,Tops,Blouses,850,Lovely and unique!,As is true of a bunch of the fall clothing pho...,12,5,1,Good,55 to 64,"true, bright, vivid, unique, bib, soft, nice, ..."

In [138]:
df_bad_review = df[ df["rating_label"] == "Bad"]
df_bad_review

,no,age,division_name,department_name,class_name,clothing_id,title,review_text,alike_feedback_count,rating,recommend_index,rating_label,age_range_label,adj_word
2,2,47,General Petite,Bottoms,Skirts,993,Meh,"I so wanted this skirt to work, love the desig...",3,1,0,Bad,45 to 54,small
13,13,23,General,Bottoms,Skirts,1020,"Cute, but not flattering on","I really loved this skirt on the model, but it...",0,2,0,Bad,18 to 24,"athletic, front, larger, more, taller"
15,15,31,General,Dresses,Dresses,1086,Not for my curves,"5'7"", 34c, 28 jeans, size 4 dress. fell in lov...",5,3,0,Bad,25 to 34,"particular, unflattering, excess, wider, non, ..."
16,16,64,General,Tops,Sweaters,939,Itchy!,I love the idea of this coat and foolishly pur...,22,3,0,Bad,55 to 64,"other, happy, lined, soft, yellow, white, hard..."
19,19,35,General Petite,Tops,Blouses,835,NaN,"Beautiful top, i love the peplum. the color is...",2,3,1,Bad,35 to 44,"Beautiful, cream, uncut, unfinished"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23447,23447,20,General Petite,Tops,Knits,872,Cute but too large,"I love this top and the beading is beautiful, ...",0,3,0,Bad,18 to 24,"beautiful, large, large, 3xl, beautiful, large"
23461,23461,41,General,Dresses,Dresses,1098,Not so much....,After seeing this dress online and noticing ho...,1,3,0,Bad,35 to 44,"curious, snug, flowy, boxy, same, top"
23471,23471,34,Initmates,Intimate,Swim,400,Not for long torsos,"I adored this suit - the style, the colors, th...",1,3,0,Bad,25 to 34,"thick, painful, small, long, large, bust, smal..."
23478,23478,26,General,Tops,Knits,883,I like the feel of the fabric but...,It feels soft and like a good quality. however...,0,3,0,Bad,25 to 34,"soft, good, large, long, loose, short"
23480,23480,36,General,Dresses,Dresses,1099,NaN,I have to agree with the first reviewer! i rea...,2,1,0,Bad,35 to 44,"first, nice, lush, petite, poor"

# กรณี Bad นับความถี่ของคำที่ปรากฏและแสดงคำที่มีความถี่สูงสุด
# Bad review จากลูกค้าส่วนใหญ่ 10 อันดับแรกพูดถึง มีอะไรบ้าง

In [139]:
# นำเข้า counter จาก collections 
# from collections import Counter

# รวบรวมคำทั้งหมดจากคอลัมน์ 'adj_word'
all_words= []
for words in df_bad_review['adj_word']:
    all_words.extend(words.split(', '))

# นับความถี่ของคำ
word_counts = Counter(all_words)

# แสดงคำที่มีความถี่สูงสุด
most_common = word_counts.most_common(50)

print("Bad review จากลูกค้าส่วนใหญ่พูดถึงคือ : ")
for word, count in most_common:
    print(f"{word}: {count}")

Bad review จากลูกค้าส่วนใหญ่พูดถึงคือ :
small: 1142
large: 756
cute: 687
great: 677
beautiful: 578
big: 574
nice: 569
short: 551
little: 518
good: 511
other: 463
thin: 430
tight: 417
soft: 416
petite: 401
much: 369
huge: 338
flattering: 325
more: 309
disappointed: 295
long: 294
boxy: 285
high: 284
loose: 276
wide: 274
top: 272
pretty: 267
excited: 257
cheap: 255
fit: 254
perfect: 252
white: 240
unflattering: 238
sure: 235
comfortable: 229
bad: 229
smaller: 214
true: 201
lovely: 197
different: 191
black: 187
same: 187
first: 176
better: 170
right: 169
extra: 168
tall: 166
gorgeous: 165
larger: 161
regular: 161

In [140]:
df["class_name"].unique()

array(['Jeans', 'Blouses', 'Skirts', 'Pants', 'Swim', 'Sweaters', 'Knits',
       'Fine gauge', 'Jackets', 'Dresses', 'Shorts', 'Lounge',
       'Outerwear', 'Intimates', 'Legwear', 'Sleep', 'Trend', 'Layering',
       'Casual bottoms', 'Chemises'], dtype=object)

# วิเคราะห์ Bad Review ของแต่ละ class name 
# ลูกค้าส่วนใหญ่รีวืวว่าอย่างไรบ้าง

In [170]:
from collections import Counter

class_names = ["Trend", "Sweaters", "Dresses", "Blouses", "Swim", "Knits", "Shorts", "Fine gauge", "Skirts",  "Pants","Intimates", "Outerwear" ,"Legwear", "Jackets" , "Lounge", "Sleep", "Jeans", "Layering"]
results = []

for class_name in class_names:
    # สร้าง DataFrame สำหรับ class_name นั้นๆ
    df_class = df[(df["rating_label"] == "Bad") & (df["class_name"] == class_name)]
    
    # รวบรวมคำทั้งหมดจากคอลัมน์ 'adj_word'
    all_words = []
    for words in df_class['adj_word']:
        all_words.extend(words.split(', '))
    
    # นับความถี่ของคำ
    word_counts = Counter(all_words)
    
    # เพิ่มผลลัพธ์ลงในรายการ results
    for word, count in word_counts.most_common(20):
        results.append({"class_name": class_name, "word": word, "count": count})

# สร้าง DataFrame จากรายการ results
df_bad_review_by_class_name = pd.DataFrame(results)
print(df_bad_review_by_class_name)

    class_name       word  count
0        Trend      small     12
1        Trend      large     10
2        Trend  beautiful      8
3        Trend       much      6
4        Trend       sure      6
..         ...        ...    ...
355   Layering      large      2
356   Layering     yellow      2
357   Layering       long      2
358   Layering                 2
359   Layering       most      2

[360 rows x 3 columns]

In [171]:
df_bad_review_by_class_name

    class_name       word  count
0        Trend      small     12
1        Trend      large     10
2        Trend  beautiful      8
3        Trend       much      6
4        Trend       sure      6
..         ...        ...    ...
355   Layering      large      2
356   Layering     yellow      2
357   Layering       long      2
358   Layering                 2
359   Layering       most      2

[360 rows x 3 columns]

In [173]:
# save to csv
df_bad_review_by_class_name.to_csv("bad_review_by_class_name.csv")